<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-lg-4 col-sm-12"><ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>  </div>
                <div class="col-md-12 col-lg-4 col-sm-12"> <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul></div>
                <div class="col-md-4-12 col-lg-4 col-sm-12"> <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul></div>
            </div>
        </div>
      </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>









<div class="container-fluid ">

    <div class="row px-0">

        <div class="col-md-6 px-0">

            <ul class="list p-0">
                <li style="color: #fe7e01" class="li"><p class="li">Are you tired of from the stress of looking for new accomodations</p></li>

                <li style="color: #fe7e01" class="li"><p>Are you looking for that new office space,service apartments that suits your style</p></li>

                <li style="color: #fe7e01" class="li"><p>are you are looking for a verified agent/developer to lease your property to</p></li>

                <li style="color: #fe7e01" class="li"><p>are you looking to lease your room out to a roomate</p></li>
            </ul>

        </div>

        <div class="col-md-6 px-0">

                <ul class="list p-0">
                    <li style="color: #fe7e01"><p>Are you tired of from the stress of looking for new accomodations</p></li>

                    <li style="color: #fe7e01"><p>are you looking for that new office space</p></li>

                    <li style="color: #fe7e01"><p>are you look for a service apartment that suits your taste and style and yet affordable</p></li>

                    <li style="color: #fe7e01"><p>are you are looking for a verified agent/developer to lease your property to</p></li>

                    <li style="color: #fe7e01"><p>are you looking to lease your room out to a roomate</p></li>
                </ul>

            </div>

    </div> {{-- row --}}

</div>
<ul>
    <li>Are you tired of from the stress of looking for new accomodations</li>
    <li>Are you looking for that new office space,service apartments that suits your style</li>
    <li>Are you are looking for a verified agent/developer to lease your property to</li>
    <li>Are you looking to lease your room out to a roomate</li>
</ul>
